<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand ml-3" href="#"> <img src="/images/logo.png" alt="Logo" width="100%" height="90"
      class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
    <ul class="navbar-nav d-flex me-4" style="height: 49px; ">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Dashboard</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/admin/manageUser">Users</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/orders/manageOrder">Orders</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/categories">Category</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/products">Product</a>
      </li>
      <li class="nav-item ml-2">
        <form action="/admin/adminLogout" method="get"><button type="submit" class="btn btn-dark lout">LogOut</button>
        </form>
      </li>
    </ul>
  </div>
</nav>