<footer class="text-white text-center text-lg-start" style="background-color: #23242a; margin-top:140px !important">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    <!--Grid row-->
    <div class="row mt-4 pt-4 pb-4" style="background-color: #133d42;">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          MyCart Online Bookstore provides a curated selection of captivating titles, offering a seamless and
          user-friendly experience for book enthusiasts.
          Trust us as your go-to destination for quality reads and literary exploration
        </p>

        <p>
          Immerse yourself in the world of literature with MyCart, your trusted destination for quality reads and
          literary exploration.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"
              style="color: white;"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"
              style="color: white;"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"
              style="color: white;"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"
              style="color: white;"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg">
          <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
          <div class="form-notch">
            <div class="form-notch-leading" style="width: 9px;"></div>
            <div class="form-notch-middle" style="width: 48.8px;"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Kerala, KL 10012, India</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">MyCart@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 91 234 5674 321</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 91 233 5674 321</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Explore Our Store</h5>

        <!-- Replace the placeholder text with the actual image file path -->
        <img src="/images/logowithout.png" alt="Bookstore Image" class="img-fluid mb-4">

        <p>
          Discover a world of knowledge and imagination at our bookstore.
          Find the latest releases, classic favorites, and more.
        </p>
      </div>
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="">MyCart.com</a>
  </div>
  <!-- Copyright -->
</footer>